.app {
  font-family: Verdana, Tahoma, sans-serif;
}
/* Header.js */
.header {
  background-color: #457cbf;
}
.header-img {
  width: 500px;
}
/* Navigation.js */
.navbar {
  list-style-type: none;
  background-color: rgb(106, 145, 186);
}
.nav {
  text-decoration: none;
  color: #fff;
  padding-right: 15px;
  border-right: 3px solid #fff;
}
.nav:hover {
  text-decoration: none;
  color: blue;
}
/* Home.js */
.inactive-btn {
  min-width: 35%;
  border: none;
  padding: 3px;
  background-color: #a7a1a1;
  color: #fff;
  transform: translateY(5px);
}
.active-btn {
  min-width: 35%;
  border: none;
  padding: 3px;
  background-color: #457cbf;
  color: #fff;
  transform: translateY(none);
}
.inactive-btn:focus,
.active-btn:focus {
  outline: none;
}
.box {
  position: relative;
  z-index: 100;
  background-color: #fff;
  border: 1px solid #457cbf;
}
/* Footer */

.page-footer {
  position: sticky;
  bottom: initial;
  background-color: #457cbf;
  font-size: small;
}
